@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.container-none {
  padding: 0;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}
