@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #121212;
}

body {
  background: #282828;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.container-none {
  padding: 0;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-button-prev {
  background-color: white;
  color: black;
  border-radius: 999px;
  padding: 22px;
  z-index: 10;
  /* top: var(--swiper-navigation-top-offset, 40%); */
}
.swiper-button-prev:after {
  font-size: 12px;
}

.swiper-button-next {
  background-color: white;
  color: black;
  border-radius: 999px;
  padding: 22px;
  z-index: 10;
  /* top: var(--swiper-navigation-top-offset, 40%); */
}
.swiper-button-next:after {
  font-size: 12px;
}

/* .border12 {
  border: 2px solid;
  border-color:red black black red
} */

/* !Below i added class name num for checkout address pincode so it wont show arrow up down */
.num::-webkit-outer-spin-button,
.num::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
