@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.container-none {
  padding: 0;
  margin: auto;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-button-prev {
  background-color: white;
  color: black;
  border-radius: 999px;
  padding: 22px;
  z-index: 10;
}
.swiper-button-prev:after {
  font-size: 12px;
}

.swiper-button-next {
  background-color: white;
  color: black;
  border-radius: 999px;
  padding: 22px;
  z-index: 10;
}
.swiper-button-next:after {
  font-size: 12px;
}

/* .border12 {
  border: 2px solid;
  border-color:red black black red
} */
